*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.imgearth{
  max-width: 400px;
      height: 400px;
      margin-top: 165px;
      margin-left: 242px;
  }
  .fonthel{
    font-family: 'Helvetica Neue', sans-serif;
    font-family: 'Helvetica 25 UltraLight', sans-serif;
    font-family: 'Helvetica 35 Thin', sans-serif;
    font-family: 'Helvetica 45 Light', sans-serif;
    font-family: 'Helvetica 55 Roman', sans-serif;
    font-family: 'Helvetica 65 Medium', sans-serif;

  }
.fontasm{
  margin-left: 180px;
  
}
.fontasm i{
  margin:10px;
  
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}